{% extends 'data/base.html' %}

{% block body_block %}

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">


</div>

<div class="container">
  <!-- Flex Box -->
  <div class="d-flex flex-column">

    <div class="form-group">
      <form method="POST">
        {% csrf_token %}
        {{ query_form }}
        <button type="submit" class="btn btn-primary">Make Query</button>
      </form>

      {% if plot_exists %}
      <div class="container">
        <a href="/show">Click here to view the plot</a>
        <br />
        <a href="/perdicted">Click here to view perdicted values</a>
      </div>
      {% endif %}

      {% if data %}
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Region</th>
            <th scope="col">Type</th>
            <th scope="col">Date</th>
            <th scope="col">Price</th>
          </tr>
        </thead>
        <tbody>
          {% for item in data %}
          <tr>
            <td>{{ region }}</td>
            <td>{{ type }}</td>
            <td>{{ item.date }}</td>
            <td>{{ item.price }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

      {% endif %}
    </div>
  </div>
</div>

{% endblock %}