<!-- Bootstrap CSS -->

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


<style type="text/css">
    @media (min-width: 768px) {
        html {
            font-size: 16px;
        }
    }


    .pricing-header {
        max-width: 700px;
    }

    .card-deck .card {
        min-width: 220px;
    }
</style>




<title>
    HMA {% block title_block %} {% endblock %}
</title>